<div 
  class="fixed inset-0 bg-black/30 backdrop-blur-sm z-40"
  @backdropAnimation
></div>

<div 
  role="dialog" 
  class="fixed left-[50%] top-[50%] z-50 w-full translate-x-[-50%] translate-y-[-50%] border bg-white shadow-lg rounded-lg sm:max-w-[425px]"
  @dialogAnimation
>
  <div class="relative w-full h-full">
    <!-- Close Button -->
    <button 
      type="button" 
      (click)="dialogRef.close()"
      class="absolute right-6 top-6 rounded-sm p-2 opacity-70 hover:bg-gray-100 transition-all duration-200"
    >
      <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4">
        <path d="M11.7816 4.03157C12.0062 3.80702 12.0062 3.44295 11.7816 3.2184C11.5571 2.99385 11.193 2.99385 10.9685 3.2184L7.50005 6.68682L4.03164 3.2184C3.80708 2.99385 3.44301 2.99385 3.21846 3.2184C2.99391 3.44295 2.99391 3.80702 3.21846 4.03157L6.68688 7.49999L3.21846 10.9684C2.99391 11.193 2.99391 11.557 3.21846 11.7816C3.44301 12.0061 3.80708 12.0061 4.03164 11.7816L7.50005 8.31316L10.9685 11.7816C11.193 12.0061 11.5571 12.0061 11.7816 11.7816C12.0062 11.557 12.0062 11.193 11.7816 10.9684L8.31322 7.49999L11.7816 4.03157Z" 
              fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
        </path>
      </svg>
    </button>

    <!-- Form Content -->
    <div class="sm:p-6 bg-white flex flex-col gap-[24px] rounded-lg">
      <div>
        <h2 class="text-xl font-bold text-center mb-4 text-black">
          Verify Your Mobile Number
        </h2>
        <p class="text-center font-normal">
          We have sent you an SMS with a code to {{countryCode}} {{phone}}
          <span
            (click)="data.changePage(0)"
            class="text-[var(--temp-back)] ml-1 cursor-pointer"
          >
            Change Number?
          </span>
        </p>
      </div>

      <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
        <!-- OTP Input -->
        <div class="otp-inputs flex justify-around w-full">
          @for (i of [0,1,2,3,4,5]; track i) {
            <input
              #otpInput
              [id]="'otp-' + i"
              type="text"
              [formControlName]="'digit' + i"
              maxlength="1"
              class="w-12 outline-none rounded-none h-12 text-center text-xl border border-gray-300"
              (input)="onOtpInput($event, i)"
              (keydown)="onKeyDown($event, i)"
              inputmode="numeric"
              pattern="[0-9]*"
            />
          }
        </div>

        <div class="flex mt-6 justify-center">
          @if (timer > 0) {
            <p class="text-center text-sm text-[var(--temp-back)]">
              Resend OTP in {{timer}} seconds
            </p>
          } @else {
            <p class="text-center text-sm">
              Didn't receive the OTP?
              <span
                class="text-[var(--temp-back)] text-md cursor-pointer"
                (click)="resendOtp()"
              >
                Resend
              </span>
            </p>
          }
        </div>

        <button 
          type="submit"
          [disabled]="!otpForm.valid"
          class="w-full mt-6 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 shadow h-9 px-4 py-6 bg-white hover:bg-[var(--temp-back)] text-[var(--temp-back)] hover:text-white border-[var(--temp-back)] border-2 cursor-pointer"
        >
          Verify
        </button>
      </form>
    </div>
  </div>
</div> 