<div (click)="showMenuPopUp()" class="overflow-hidden" style="opacity: 1; transform: none;">
  <div class="py-2 h-full rounded-lg flex flex-col">
    <div class="flex flex-col h-full">
      <!-- Image -->
      <img [src]="item.item_image_url" 
           [alt]="item.item_name" 
           class="aspect-[12/8] w-full object-cover rounded-t-xl cursor-pointer"
           onerror="this.src='https://i.ibb.co/27bP0Yrh/broken-Image-Menu-CM38dt-NR.jpg'"
        >

      <div class="w-full px-3 flex flex-col flex-grow bg-white rounded-b-xl">
        <!-- Header -->
        <div class="grid grid-cols-[auto_1fr_auto] gap-2 my-2">
          <div class="flex py-1">
            <app-veg-icon></app-veg-icon>
            <!-- <app-veg-icon [isVeg]="item.item_attribute_id === '1'"></app-veg-icon> -->
          </div>
          <p class="text-[16px] font-[400] cursor-pointer">{{item.item_name}}</p>
          <div>
            <app-heart-icon [filled]="itemFavorite"></app-heart-icon>
          </div>
        </div>

        <!-- Description -->
        <div class="flex-grow">
          <p class="text-sm text-gray-600" *ngIf="item.item_description">
            {{item.item_description}}
          </p>
        </div>

        <!-- Footer -->
        <div class="mt-2">
          <div class="flex justify-between items-end">
            <div>
              <p class="flex items-center text-[14px] font-[550]">
                <span class="font-[550] pr-[2px]">INR</span> 
                {{basePrice}}
              </p>
              <p class="text-[var(--temp-back)] text-[11px] cursor-pointer" 
                 *ngIf="hasVariations || hasAddons">
                Customisation Available
              </p>
            </div>

            <!-- Quantity Controls -->
            <div class="flex justify-end items-center gap-2">
              <app-minus-icon (click)="decrementQuantity($event)"></app-minus-icon>
              <span class="text-lg">{{quantity}}</span>
              <app-plus-icon (click)="incrementQuantity($event)"></app-plus-icon>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Popups -->
@if (isShowFoodPopUp === item._id) {
  <app-food-info-popup
    [item]="item"
    (close)="closePopup()">
  </app-food-info-popup>
}

@if (isShowMenuPopUp === item._id) {
  <app-menu-popup
    [item]="item"
    [itemFavorite]="itemFavorite"
    (close)="closePopup()"
    (setFavoriteItems)="setFavoriteItems($event)"
    (onVariationSelect)="handleVariationSelect($event)">
  </app-menu-popup>
} 