<div class="mx-[3.8%] mb-2">
  <div class="rounded-[10px] border-2 border-[hsl(var(--border))] mb-2">
    <div class="flex justify-between items-center border-b-2 border-[hsl(var(--border))] py-[1%] cursor-pointer">
      <p class="px-[16px]">Variation</p>
      <p class="px-[16px]">
        <svg width="12" height="8" viewBox="0 0 12 8" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.599927 6.99625C0.866626 7.26791 1.29903 7.26791 1.56573 6.99625L5.9999 2.47945L10.4341 6.99625C10.7008 7.26791 11.1332 7.26791 11.3999 6.99625C11.6666 6.72458 11.6666 6.28411 11.3999 6.01244L6.4828 1.00375C6.21611 0.732079 5.7837 0.732079 5.517 1.00375L0.599927 6.01244C0.333227 6.28411 0.333227 6.72458 0.599927 6.99625Z" fill="#0C1D2E"/>
        </svg>
      </p>
    </div>
    <div class="overflow-y-auto max-h-[150px] px-[16px]">
      <div *ngFor="let variation of uniqueVariations" 
           class="flex justify-between items-center py-1">
        <span class="cursor-pointer" 
              [class.text-[var(--temp-back)]]="variation === selectedVariation">
          <input type="radio" 
                 [checked]="variation === selectedVariation"
                 (click)="onSelect(variation)" 
                 class="mr-2">
          {{variation.name}}
        </span>
        <span class="text-gray-500 flex items-center">
          <div class="font-[550] pr-[2px]">INR</div>{{variation.price}}
        </span>
      </div>
    </div>
  </div>
</div> 